

.header-icon {
    display: inline-block;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.header-icon__list li {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
.header-icon__list li > a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    position: relative;
    color: #111;
}

/*MANAGEMENT MENU TOP*/

.attr-nav {

    float: right;
    margin-right: 20px;
    margin-top: 3%;
}


.box-widget-item-header h3 {

    color: $teal !important;
}
.manager-language {
    float: right;
    right: 0%;
}
