.section-space--manager-sisdep {
    /* padding-top: 7% !important;*/

}


/*
SHOP*/
.not-view {
    display: none;
}

th[data-column-id='description'] {
    display: none;
}

.actions.btn-group {
    display: none;

}

/*MENU FILTERS*/

.single-sidebar-widget__dropdown > li a.active {
    color: #fab200;
}

.single-sidebar-widget__dropdown > li > a {
    width: 100%;
}

span.content-filter {
    font-size: 28px;
    cursor: pointer;
}

.minicart-wrapper--view {
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.minicart-wrapper__items__single .image {
    width: 90px;

    height: 100px;
}

/*
---CART PAGE---*/
.product-quantity .pro-qty input {
    width: 100% !important;
}


/* Media query for mobile viewport */
@media screen and (max-width: 400px) {
    #paypal-button-container {
        width: 100%;
    }
}

/* Media query for desktop viewport */
@media screen and (min-width: 400px) {
    #paypal-button-container {
        width: 250px;
    }
}

.checkout-form label.error {
    color: #cc2121;
}

.single-icon--quick-view--not-basket {
    width: 140px !important;
}

.quick-view-other-info .other-info-links a.favorite-icon-active {
    color: #fab200;
}

.header-navigation-wrapper nav > ul > li.active > a {
    color: #fab200;
}

.header-navigation-wrapper nav > ul > li.active > a {
    color: #fab200;

}

.submenu--column-1 > li.active > a {

    color: #fab200;
}

.submenu--column-1 > li.active > a::before {
    position: absolute;
    top: 50%;
    left: -15px;
    width: 0;
    height: 1px;
    margin-right: 5px;
    content: '';
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0;
    background-color: #fab200;
}


.theme-button--register {
    width: 100%;
    font-size: 17px;
}

.header-area--default--transparent.is-sticky .account-dropdown {
    display: block !important;
}

.disabled-container {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .65;
}

.hidden {
    display: none;
}

.content-box-image {
    width: 300px;
    height: 170px;
    background: #eee;
    cursor: pointer;
    float: left;
    margin: 30px;
}

.content-box-preview {
    background-position: center center;
    background-size: cover;
    perspective: 450px;
    position: relative;
}

.content-box-image .content-box-image__manager {
    background: #ffffff none repeat scroll 0 0;
    bottom: 0;
    height: 50px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 90%;
    transform: rotatex(90deg);
    transform-origin: bottom center 0;
    transition: all 350ms ease;
    opacity: 0;
}

.content-box-image .content-box-image__manager h3 {
    font-size: 20px;
    margin: 15px 0;
    text-align: center;
}

.content-box-image:hover .content-box-image__manager {
    opacity: 1;
    bottom: 15px;
    transform: rotatex(0deg);
}

.preview-manager {
    width: 100%;
    height: 180px;
}

button:disabled {
    cursor: not-allowed;
    opacity: .65;
}

#paypal-button-container {
    diplay: block !important;
}

.view-accept-terms {

}

.offcanvas-naviagtion > ul > li.active > a {
    color: #fab200;
}


/*
HEADER*/
.header-navigation-top {
    background: #fff ;

}

.form-group--error .form__label, .form-group--error .form__label--inline {
    color: #f04124;
}

.form-group--error .form__label, .form-group--error .form__label--inline {
    color: #f04124;
}

.form-group--error input, .form-group--error textarea, .form-group--error input:focus, .form-group--error input:hover {
    border-color: #f79483;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: -3%;
    font-size: .75rem;
    color: #f1556c;
}

.container--checkout {
    margin-left: 5%;
    margin-right: 5%;
}


.footer.manager-buttons {
    width: 35px;
    height: 35px;
    border: #727172 12px solid;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}


/*.footer #button{
    width:35px;
    height:35px;
    border: #727172 12px solid;
    border-radius:35px;
    margin:0 auto;
    position:relative;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}*/
/*.footer #button:hover{
    width:35px;
    height:35px;
    border: #3A3A3A 12px solid;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    position:relative;
}*/
.footer {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 999;
}

/*.footer:hover {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    height: 10em;
}*/
.footer #container {
    margin-top: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: #3A3A3A;
}

.footer #cont {
    position: relative;
    top: -45px;
    right: 190px;
    width: 150px;
    height: auto;
    margin: 0 auto;
}

.footer_center {
    width: 500px;
    float: left;
    text-align: center;
}

.footer h3 {
    font-family: 'Helvetica';
    font-size: 30px;
    font-weight: 100;
    margin-top: 70px;
    margin-left: 40px;
}

#paypal-button-container div div {

    position: absolute !important;
    right: 0 !important;
    width: 100% !important;
    /*    min-width: 100%!important;
        max-width: 100%!important;*/
}

.form-group input::-webkit-input-placeholder, .form-group select::-webkit-input-placeholder {
    color: #9b9b9b !important;
    font-weight: 100 !important;
    font-size: 10px !important;

}

.form-group input::-moz-placeholder, .form-group select::-moz-placeholder {
    color: #9b9b9b !important;
    font-weight: 100 !important;
    font-size: 10px !important;

}

.form-group input:-ms-input-placeholder, .form-group select:-ms-input-placeholder {
    color: #9b9b9b !important;
    font-weight: 100 !important;
    font-size: 10px !important;

}

.form-group input::-ms-input-placeholder, .form-group select::-ms-input-placeholder {
    color: #9b9b9b !important;
    font-weight: 100 !important;
    font-size: 10px !important;

}

.form-group input::placeholder, .form-group select::placeholder {
    color: #9b9b9b !important;
    font-weight: 100 !important;
    font-size: 10px !important;

}

.form-group--success::before {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    content: "✓";
    font-size: 20px;
    color: rgb(124, 199, 104);
    position: absolute;
    right: 5%;
    top: 22%;
    pointer-events: none;
}

.invalid-feedback::before {
    content: "↑";
    display: block;
    position: relative;
    left: 0px;
    top: 15px;
}
.invalid-feedback.d-block span {
    margin-left: 3%;
}
.content-message-errors {

}




#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999; }

#status {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -40px 0 0 -40px; }

@-webkit-keyframes bouncing-loader {
    to {
        opacity: 0.1;
        -webkit-transform: translate3d(0, -16px, 0);
        transform: translate3d(0, -16px, 0); } }

@keyframes bouncing-loader {
    to {
        opacity: 0.1;
        -webkit-transform: translate3d(0, -16px, 0);
        transform: translate3d(0, -16px, 0); } }

.bouncingLoader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
.bouncingLoader > div {
    width: 13px;
    height: 13px;
    margin: 32px 3px;
    background: #3bafda;
    border-radius: 50%;
    -webkit-animation: bouncing-loader 0.6s infinite alternate;
    animation: bouncing-loader 0.6s infinite alternate; }
.bouncingLoader > div:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    background: #f1556c; }
.bouncingLoader > div:nth-child(3) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    background: #1abc9c; }
.not-view{
    display:none !important;
}
.management-view-link {
    color: #d92523 !important;
}


.chat-widget-button {
    position: fixed;
    bottom: 159px;
    right: 30px;
    width: 40px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    font-size: 17px;
    background: #25D366;
    z-index: 116;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.2);
    -webkit-transform: translate3d(0, 0, 0);
}

.chat-widget-button i {
    margin-left: 30%;
}

.chat-widget-button.closechat_btn i:before {
    content: "\f00d";
}

.chat-widget-button span {
    width: 150px;
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.2);
    position: absolute;
    left: -160px;
    top: 0;
    height: 40px;
    line-height: 40px;
    background: #25D366;
    color: #fff;
    border-radius: 3px;
    visibility: hidden;
    font-weight: 600;
    font-size: 12px;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding-left: 27%;
}

.chat-widget-button:hover span {
    visibility: visible;
    opacity: 1
}

.chat-widget_wrap {
    position: fixed;
    bottom: 180px;
    right: 50px;
    width: 300px;
    height: 400px;
    z-index: 116;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: none;
    -webkit-transform: translate3d(0, 0, 0);
}

.chat-widget_header {
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    line-height: 50px;
    padding: 0 25px;
}

.chat-widget_header h3 {
    float: left;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
}

.chat-widget_header h3 a {
    color: #fff;
    text-decoration: underline;
}

.chat-widget-button-content {
    position: absolute;
}

.img-responsive {
    height: auto;
    max-width: 100%;
    display: block;
}





.footer-navigation-area {
    padding-bottom: 0px !important;
    padding-top: 3% !important;
}

.footer-widget__navigation ul li a {

    line-height: 0px;
    padding: 0px 0;
}


.single-banner__image a img {

    height: 266px !important;
}
