/*---BUTTONS---*/


/*---TUMB--*/
.content-box-image {
    width: 300px;
    height: 170px;
    background: #eee;
    cursor: pointer;
    float: left;
    margin: 30px;
}

.content-box-preview {
    background-position: center center;
    background-size: cover;
    perspective: 450px;
    position: relative;
}

.content-box-image .content-box-image__manager {
    background: #ffffff none repeat scroll 0 0;
    bottom: 0;
    height: 50px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 90%;
    transform: rotatex(90deg);
    transform-origin: bottom center 0;
    transition: all 350ms ease;
    opacity: 0;
}

.content-box-image .content-box-image__manager h3 {
    font-size: 20px;
    margin: 15px 0;
    text-align: center;
}

.content-box-image:hover .content-box-image__manager {
    opacity: 1;
    bottom: 15px;
    transform: rotatex(0deg);
}

.btn-upload-resources {
    cursor: pointer;
}

.form-group--error .form__label, .form-group--error .form__label--inline {
    color: #f04124;
}

.form-group--success .form__label, .form-group--success .form__label--inline {
    color: #43AC6A;
}

.form-group--warning .form__label, .form-group--warning .form__label--inline {
    color: #bf7100;
}


.btn--manager {

    cursor: pointer !important;

}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}

.btn--manager.btn-success {

    background: #4DB7FE;
    color: #fff;
}

.btn--manager.btn-success:hover {
    background: #0f94ec;
    color: #fff;
}

.btn--manager.btn-error:hover {
    background: #f33652;
    background-color: #f33652;
    border-color: #f33652;
}
.custom-form--auto-height-text-area {
    height:auto !important;
    resize: vertical !important;

}
/*
---SEARCH GOOGLE MAPS---*/
.pac-target-input:not(:-webkit-autofill) {
    animation-name: endBrowserAutofill;
}

.floating-panel-manager__search {
    width: 580px;
}


.floating-panel-manager {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

.floating-panel-manager input.floating-panel-manager__search {
    height: 35px;
    margin-bottom: 0px !important;

}


/*

Menu*/
.sidebar-nav {

}
.sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #f9f9f9;
}

.sidebar-nav .metismenu {
    background: #f9f9f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sidebar-nav .metismenu li + li {
    margin-top: 5px;
}

.sidebar-nav .metismenu li:first-child {
    margin-top: 5px;
}
.sidebar-nav .metismenu li:last-child {
    margin-bottom: 5px;
}


.sidebar-nav .metismenu > li {
    /*-webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}
.sidebar-nav .metismenu a {
    text-align: left;
    position: relative;
    display: block;
    padding: 13px 15px;
    color: #adb5bd;
    outline-width: 0;
    transition: all .3s ease-out;
}

.sidebar-nav .metismenu ul a {
    padding: 10px 15px 10px 30px;
}

.sidebar-nav .metismenu ul ul a {
    padding: 10px 15px 10px 45px;
}

.sidebar-nav .metismenu a:hover,
.sidebar-nav .metismenu a:focus,
.sidebar-nav .metismenu a:active,
.sidebar-nav .metismenu .mm-active > a {
    color: #f8f9fa;
    text-decoration: none;
    background: #445EF2 ;
}
span.form__label--required {
    color: #f1556c;
    font-size: 18px;
}


.manager-buttons-cms {
    position: fixed;
    z-index: 1500;
    text-align: right;
}
