@font-face {
    font-family: 'Migu3ln';
    font-weight: 800;
    src: url(fonts-family/AndisRegular.otf) format('otf');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

