

.chat-widget-button {
    position: fixed;
    bottom: 9%;
    right: 17px;
    width: 50px;
    height: 50px;
    color: #fff;
    line-height: 40px;
    font-size: 17px;
    background: #25D366;
    z-index: 116;
    cursor: pointer;
    border-radius: 28px;
    -webkit-transform: translate3d(0, 0, 0);
}

.chat-widget-button i {
    margin-left: 11%;
    font-size: 47px;
    margin-top: 5%;

}

.chat-widget-button.closechat_btn i:before {
    content: "\f00d";
}

.chat-widget-button span {
    width: 150px;
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.2);
    position: absolute;
    left: -160px;
    top: 0;
    height: 40px;
    line-height: 40px;
    background: #25D366;
    color: #fff;
    border-radius: 3px;
    visibility: hidden;
    font-weight: 600;
    font-size: 12px;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding-left: 27%;
}

.chat-widget-button:hover span {
    visibility: visible;
    opacity: 0
}

.chat-widget_wrap {
    position: fixed;
    bottom: 180px;
    right: 50px;
    width: 300px;
    height: 400px;
    z-index: 116;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: none;
    -webkit-transform: translate3d(0, 0, 0);
}

.chat-widget_header {
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    line-height: 50px;
    padding: 0 25px;
}

.chat-widget_header h3 {
    float: left;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
}

.chat-widget_header h3 a {
    color: #fff;
    text-decoration: underline;
}

.chat-widget-button-content {
    position: absolute;
}
