<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="img/logo.png" type="image/png">
      <title>Eatpura - Online Grocery Supermarket Mobile Template</title>
      <!-- Bootstrap Css -->
      <link rel="stylesheet" href="vender/bootstrap/css/bootstrap.min.css">
      <!-- Icofont -->
      <link rel="stylesheet" href="vender/icofont/icofont.min.css">
      <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
      <!-- Custom Css -->
      <link rel="stylesheet" href="css/style.css">
   </head>
   <body class="bg-light d-flex flex-column vh-100">
      <div class="d-flex align-items-center gap-3 p-3 bg-primary inner-page-heaer">
         <a href="index.html" class="text-white"><i class="bi bi-arrow-left fs-5"></i></a>
         <div>
            <h6 class="fw-bold text-white mb-0">Osahan</h6>
            <p class="text-white-50 small m-0">+91-85916-22340</p>
         </div>
         <div class="d-flex align-items-center gap-2 ms-auto">
            <a href="#" data-bs-toggle="offcanvas" data-bs-target="#mycart" aria-controls="mycart" class="link-dark">
               <div class="bg-dark bg-opacity-75 rounded-circle user-icon"><i class="bi bi-basket d-flex m-0 h5 text-white"></i></div>
            </a>
            <a class="toggle hc-nav-trigger hc-nav-1" href="#" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation" >
            <b class="bg-dark bg-opacity-75 rounded-circle user-icon">
            <i class="bi bi-list d-flex m-0 h4 text-white"></i>
            </b>
            </a>
         </div>
      </div>
      <div class="vh-100 my-auto overflow-auto">
         <!-- Navbar -->
         <nav class="navbar navbar-expand-lg navbar-light navbar-default bg-white osahan-second-nav py-0 shadow-sm">
            <div class="container px-0 px-xl-3">
               <div class="offcanvas offcanvas-start p-4 p-lg-0" id="navbar-default">
                  <div class="d-flex justify-content-between align-items-center mb-2 d-block d-lg-none">
                     <a class="navbar-brand m-0 d-lg-block flex-shrink-0" href="index.html">
                     <img src="img/logo.png" alt="" class="img-fluid logo-img">
                     </a>
                     <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="d-block d-lg-none">
                     <form action="#">
                        <div class="input-group bg-white top-search-bar border rounded-pill align-items-center py-1 ps-2">
                           <input type="text" class="form-control bg-transparent border-0 rounded-0" placeholder="Search items" aria-label="Search items">
                           <a href="#" class="btn btn-danger rounded-pill me-1"><i class="icofont-search me-1"></i> Search</a>
                        </div>
                     </form>
                     <div class="mt-3 mb-4">
                        <a href="#" class="link-dark osahan-location text-decoration-none d-flex align-items-center gap-2 text-start flex-shrink-0 w-100" data-bs-toggle="offcanvas" data-bs-target="#location" aria-controls="location">
                           <i class="lni lni-map-marker text-danger fs-5"></i>
                           <div class="lh-sm">
                              <p class="fw-normal mb-0 small">Delivery in 16 minutes</p>
                              <p class="text-muted m-0 text-truncate d-inline-block mb-0 align-bottom">H.No. 2834 Street, 784 Sector, Ludhiana, Punjab</p>
                           </div>
                           <i class="lni lni-chevron-down ms-auto"></i>
                        </a>
                     </div>
                  </div>
                  <div class="d-block d-lg-none mb-3">
                     <a class="btn btn-danger d-flex align-items-center rounded-pill w-100" data-bs-toggle="collapse"
                        href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                     <i class="lni lni-grid-alt d-flex me-1"></i> All Departments
                     </a>
                     <div class="collapse mt-2" id="collapseExample">
                        <div class="card card-body">
                           <ul class="mb-0 list-unstyled">
                              <li><a class="dropdown-item" href="listing.html">Dairy, Bread & Eggs</a></li>
                              <li><a class="dropdown-item" href="listing.html">Snacks & Munchies</a></li>
                              <li><a class="dropdown-item" href="listing.html">Fruits & Vegetables</a></li>
                              <li><a class="dropdown-item" href="listing.html">Cold Drinks & Juices</a></li>
                              <li><a class="dropdown-item" href="listing.html">Breakfast & Instant Food</a></li>
                              <li><a class="dropdown-item" href="listing.html">Bakery & Biscuits</a></li>
                              <li><a class="dropdown-item" href="listing.html">Chicken, Meat & Fish</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="d-block d-lg-none h-100" data-simplebar="">
                     <ul class="navbar-nav ">
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                              aria-expanded="false">
                           Home
                           </a>
                           <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="index.html">Home 1</a></li>
                              <li><a class="dropdown-item" href="index-2.html">Home 2</a></li>
                              <li><a class="dropdown-item" href="index-3.html">Home 3</a></li>
                           </ul>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                              aria-expanded="false">
                           Shop
                           </a>
                           <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="listing.html">Shop Grid - Filter</a></li>
                              <li><a class="dropdown-item" href="shop-grid-3-column.html">Shop Grid - 3 column</a></li>
                              <li><a class="dropdown-item" href="shop-list.html">Shop List - Filter</a></li>
                              <li><a class="dropdown-item" href="shop-fullwidth.html">Shop Wide</a></li>
                              <li><a class="dropdown-item" href="product-detail.html">Shop Single</a></li>
                              <li><a class="dropdown-item" href="shop-wishlist.html">Shop Wishlist</a></li>
                              <li><a class="dropdown-item" href="shop-cart.html">Shop Cart</a></li>
                              <li><a class="dropdown-item" href="checkout.html">Shop Checkout</a></li>
                           </ul>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                              aria-expanded="false">
                           Stores
                           </a>
                           <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="store-list.html">Store List</a></li>
                              <li><a class="dropdown-item" href="store-grid.html">Store Grid</a></li>
                              <li><a class="dropdown-item" href="store-single.html">Store Single</a></li>
                           </ul>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                              aria-expanded="false">
                           Mega Menu
                           </a>
                           <ul class="dropdown-menu">
                              <li class="dropdown-submenu ">
                                 <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#">
                                 Dairy, Bread & Eggs
                                 </a>
                                 <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="listing.html">Milk Drinks</a></li>
                                    <li><a class="dropdown-item" href="listing.html">Curd & Yogurt</a></li>
                                    <li> <a class="dropdown-item" href="listing.html">Eggs</a></li>
                                    <li><a class="dropdown-item" href="listing.html">Buns & Bakery</a></li>
                                    <li><a class="dropdown-item" href="listing.html">Cheese</a></li>
                                    <li> <a class="dropdown-item" href="listing.html">Condensed Milk</a></li>
                                    <li><a class="dropdown-item" href="listing.html">Dairy Products</a></li>
                                 </ul>
                              </li>
                              <li class="dropdown-submenu ">
                                 <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#">
                                 Vegetables & Fruits
                                 </a>
                                 <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="listing.html">Vegetables</a></li>
                                    <li><a class="dropdown-item" href="listing.html">Fruits</a></li>
                                    <li> <a class="dropdown-item" href="listing.html">Exotics & Premium</a></li>
                                    <li><a class="dropdown-item" href="listing.html">Fresh Sprouts</a></li>
                                    <li><a class="dropdown-item" href="listing.html">Frozen Veg</a></li>
                                 </ul>
                              </li>
                              <li class="dropdown-submenu ">
                                 <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#">
                                 Cold Drinks & Juices
                                 </a>
                                 <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="listing.html">Soft Drinks</a></li>
                                    <li><a class="dropdown-item" href="listing.html">Fruit Juices</a></li>
                                    <li> <a class="dropdown-item" href="listing.html">Coldpress</a></li>
                                    <li><a class="dropdown-item" href="listing.html">Soda & Mixers</a></li>
                                    <li><a class="dropdown-item" href="listing.html">Milk Drinks</a></li>
                                    <li><a class="dropdown-item" href="listing.html">Health Drinks</a></li>
                                    <li><a class="dropdown-item" href="listing.html">Herbal Drinks</a></li>
                                 </ul>
                              </li>
                           </ul>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                              aria-expanded="false">
                           Pages
                           </a>
                           <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                              <li><a class="dropdown-item" href="blog-single.html">Blog Single</a></li>
                              <li><a class="dropdown-item" href="blog-category.html">Blog Category</a></li>
                              <li><a class="dropdown-item" href="about.html">About us</a></li>
                              <li><a class="dropdown-item" href="404error.html">404 Error</a></li>
                              <li><a class="dropdown-item" href="contact.html">Contact</a></li>
                              <li><a class="dropdown-item" href="faq.html">FAQ</a></li>
                           </ul>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                              aria-expanded="false">
                           Account
                           </a>
                           <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="signin.html">Sign in</a></li>
                              <li><a class="dropdown-item" href="signup.html">Signup</a></li>
                              <li><a class="dropdown-item" href="forgot-password.html">Forgot Password</a></li>
                              <li class="dropdown-submenu dropend">
                                 <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#">
                                 My Account
                                 </a>
                                 <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="account-orders.html">Orders</a></li>
                                    <li><a class="dropdown-item" href="account-settings.html">Settings</a></li>
                                    <li><a class="dropdown-item" href="account-address.html">Address</a></li>
                                    <li><a class="dropdown-item" href="my-wallet.html">My Wallet</a></li>
                                    <li><a class="dropdown-item" href="account-notification.html">Notification</a></li>
                                 </ul>
                              </li>
                              <li><a class="dropdown-item" href="my-account.html">My Account Tabs</a></li>
                           </ul>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </nav>
         <div class="p-3">
            <div class="m-0">
               <div>
                  <!-- heading -->
                  <h5 class="mb-3">Account details</h5>
                  <div class="row">
                     <div class="col-lg-5">
                        <!-- form -->
                        <form>
                           <!-- input -->
                           <div class="mb-3">
                              <label class="form-label">Name</label>
                              <input type="text" class="form-control" placeholder="David">
                           </div>
                           <!-- input -->
                           <div class="mb-3">
                              <label class="form-label">Email</label>
                              <input type="email" class="form-control" placeholder="example@gmail.com">
                           </div>
                           <!-- input -->
                           <div class="mb-4">
                              <label class="form-label">Phone</label>
                              <input type="text" class="form-control" placeholder="Phone number">
                           </div>
                           <!-- button -->
                           <div>
                              <button class="btn btn-danger">Save Details</button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
               <hr class="my-4">
               <div>
                  <!-- heading -->
                  <h5 class="mb-3">Password</h5>
                  <form class=" row row-cols-1 row-cols-lg-2">
                     <!-- input -->
                     <div class="mb-3 col">
                        <label class="form-label">New Password</label>
                        <input type="password" class="form-control" placeholder="**********">
                     </div>
                     <!-- input -->
                     <div class="mb-3 col">
                        <label class="form-label">Current Password</label>
                        <input type="password" class="form-control" placeholder="**********">
                     </div>
                     <!-- input -->
                     <div class="col-12">
                        <p class="mb-4">Can’t remember your current password?<a href="#"> Reset your password.</a></p>
                        <a href="#" class="btn btn-danger">Save Password</a>
                     </div>
                  </form>
               </div>
               <hr class="my-4">
               <div>
                  <!-- heading -->
                  <h5 class="mb-3">Delete Account</h5>
                  <p class="mb-2 text-muted">Would you like to delete your account?</p>
                  <p class="mb-4 text-muted">This account contain 12 orders, Deleting your account will remove all the order details
                     associated with it.
                  </p>
                  <!-- btn -->
                  <a href="#" class="btn btn-outline-danger">I want to delete my account</a>
               </div>
            </div>
         </div>
         <!-- my order view detail offcanvas -->
         <div class="offcanvas offcanvas-end my-cart-width" tabindex="-1" id="viewdetails">
            <div class="offcanvas-header px-4 py-3 border-bottom">
               <h5 class="offcanvas-title" id="viewdetailsLabel">View Details</h5>
               <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body p-4">
               <h5 class="fw-bold text-success mb-1">Yay! order successfully delivered</h5>
               <p class="fw-normal">Placed on wed, 19 Oct 23, 12:55 pm</p>
               <div class="bg-light d-flex rounded-3 px-4 py-3 mb-3">
                  <p class="fw-bold mb-0">Payment mode</p>
                  <p class="text-success ms-auto m-0">Paid online</p>
               </div>
               <div class="card border rounded-4 mb-4">
                  <div class="card-header d-flex align-items-center justify-content-between py-3">
                     <div>
                        <h6 class="fw-bold mb-1">4 items</h6>
                        <p class="text-muted m-0">Order ID: ord049190212</p>
                     </div>
                     <div>
                        <a href="#">Download Invoice <i class="lni lni-download ms-1"></i></a>
                     </div>
                  </div>
                  <div class="card-body">
                     <div class="d-flex align-items-center gap-3 pb-3">
                        <img src="img/list/7.jpeg" alt=""
                           class="img-fluid border rounded-4 order-img">
                        <div>
                           <p class="fw-bold mb-1">Duracell Battery</p>
                           <p class="text-muted small mb-0">1 pack (4 pieces)<br>$82 x 1</p>
                        </div>
                        <h6 class="ms-auto m-0">$82</h6>
                     </div>
                     <div class="d-flex align-items-center gap-3 py-3">
                        <img src="img/list/8.jpeg" alt=""
                           class="img-fluid border rounded-4 order-img">
                        <div>
                           <p class="fw-bold mb-1">Craz Fritts Corn & Potato Sticks -
                              Cream & Onion Sample
                           </p>
                           <p class="text-muted small mb-0">7 g<br>$0 x 1</p>
                        </div>
                        <h6 class="ms-auto m-0">$0</h6>
                     </div>
                     <div class="d-flex align-items-center gap-3 py-3">
                        <img src="img/list/9.jpeg" alt=""
                           class="img-fluid border rounded-4 order-img">
                        <div>
                           <p class="fw-bold mb-1">Bingo Tedhe Medhe Masala Tadka Crisps
                           </p>
                           <p class="text-muted small mb-0">85 g<br>$18 x 1</p>
                        </div>
                        <h6 class="ms-auto m-0">$18</h6>
                     </div>
                     <div class="d-flex align-items-center gap-3 pt-3">
                        <img src="img/list/10.jpeg" alt=""
                           class="img-fluid border rounded-4 order-img">
                        <div>
                           <p class="fw-bold mb-1">Sprite Lime Flavoured Soft Drink (2 L)
                           </p>
                           <p class="text-muted small mb-0">2 L<br>$86 x 1</p>
                        </div>
                        <h6 class="ms-auto m-0">$86</h6>
                     </div>
                  </div>
               </div>
               <div>
                  <h5 class="fw-bold">Bill details</h5>
                  <div class="d-flex align-items-center justify-content-between mb-2">
                     <p class="text-muted m-0">M.R.P</p>
                     <p class="text-muted m-0">+$211</p>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-2">
                     <p class="text-muted m-0">Product Discount</p>
                     <p class="text-danger m-0">-$25</p>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-2">
                     <p class="fw-bold m-0">Final Paid Amount</p>
                     <p class="fw-bold m-0">$186</p>
                  </div>
                  <div class="alert alert-success d-flex align-items-center rounded-3 justify-content-between py-3 px-3 mb-0 mt-3"
                     role="alert">
                     <h6 class="fw-bold m-0">Your Savings</h6>
                     <h6 class="fw-bold m-0">$24</h6>
                  </div>
               </div>
            </div>
            <div class="offcanvas-footer shadow p-4">
               <div class="mb-3">
                  <h6 class="fw-bold mb-1">Delivery address</h6>
                  <p class="text-muted small m-0">home - 87997 Street, 784 Sector, Ludhiana, Punjab</p>
               </div>
               <a href="#" data-bs-dismiss="offcanvas" aria-label="Close" class="btn btn-danger fw-bold py-3 px-4 w-100 rounded-4 shadow"><i
                  class="icofont-user-alt-5 me-2"></i>Customer Support</a>
            </div>
         </div>
         <!-- location offcanvas -->
         <div class="offcanvas offcanvas-end my-cart-width" tabindex="-1" id="location">
            <div class="offcanvas-header px-4 py-3 d-flex align-items-center justify-content-start gap-3 bg-danger text-white">
               <a href="#" class="link-light" data-bs-dismiss="offcanvas" aria-label="Close"><i class="lni lni-arrow-left fs-5 d-flex"></i></a>
               <h6 class="offcanvas-title" id="locationLabel">Enter your area or apartment name</h6>
            </div>
            <div class="offcanvas-body p-0">
               <!-- search -->
               <div class="p-4 bg-light">
                  <div class="input-group bg-white rounded-3 border py-1">
                     <a href="#" class="input-group-text bg-transparent border-0 rounded-0 px-3"><i class="icofont-search"></i></a>
                     <input type="text" class="form-control bg-transparent border-0 rounded-0 ps-0" placeholder="Try J P Nagar, Andheri West etc.." aria-label="Try J P Nagar, Andheri West etc..">
                  </div>
                  <a href="#" class="link-dark" data-bs-dismiss="offcanvas" aria-label="Close">
                     <div class="d-flex align-items-center gap-2 text-danger pt-3">
                        <i class="icofont-location-arrow"></i>
                        <p class="m-0">Use my Current location</p>
                     </div>
                  </a>
               </div>
               <!-- Saved Address -->
               <div class="border-bottom p-4">
                  <p class="text-black text-uppercase small">Saved Addresses</p>
                  <div class="d-flex align-items-center justify-content-between">
                     <div class="w-75">
                        <a href="#" class="link-dark" data-bs-dismiss="offcanvas" aria-label="Close">
                           <div class="d-flex align-items-center gap-3 osahan-mb-1">
                              <i class="lni lni-home text-muted fs-5"></i>
                              <div>
                                 <h6 class="fw-bold mb-1">Home</h6>
                                 <p class="text-muted text-truncate mb-0 small">H.No. 2834 Street, 784 Sector, Ludhiana, Punjab</p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <a href="#" class="link-dark">
                        <div class="bg-light rounded-circle icon-sm">
                           <i class="icofont-share fs-5 text-dark-emphasis"></i>
                        </div>
                     </a>
                  </div>
               </div>
               <!-- recent search -->
               <div class="p-4">
                  <p class="text-black text-uppercase small">Recent Searches</p>
                  <a href="#" class="link-dark" data-bs-dismiss="offcanvas" aria-label="Close">
                     <div class="d-flex align-items-center gap-3 osahan-mb-1">
                        <i class="lni lni-map-marker text-muted fs-5"></i>
                        <div>
                           <h6 class="fw-bold mb-1">Ludhiana</h6>
                           <p class="text-muted text-truncate mb-0 small">87997 Street, 784 Sector, Ludhiana, Punjab</p>
                        </div>
                     </div>
                  </a>
               </div>
            </div>
         </div>
         <!-- Log In & Verify & Successfull Modal -->
         <div class="modal fade" id="login" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
               <div class="modal-content bg-white border-0 overflow-hidden rounded-4">
                  <div class="modal-body p-0">
                     <div class="row g-0">
                        <div class="col-lg-4 d-none d-lg-block">
                           <div class="p-4 d-flex bg-warning-subtle align-items-center flex-column text-center gap-4 justify-content-center h-100">
                              <img src="img/logo.png" alt="" class="img-fluid mb-auto px-4">
                              <div>
                                 <h5 class="fw-bold">Welcome to Eatpura</h5>
                                 <p class="m-0">Download the app get free food &amp; <span class="fw-bold text-success">$50</span> off on your first order.</p>
                              </div>
                              <a href="#" class="btn btn-sm w-100 btn-warning mt-auto rounded-pill">Download App</a>
                           </div>
                        </div>
                        <div class="col-lg-8 p-4">
                           <button type="button" class="btn-close float-end shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                           <div class="mb-4 pe-5">
                              <h6 class="fw-bold text-danger mb-1">Phone Number Verification</h6>
                           </div>
                           <form>
                              <div class="text-start">
                                 <p class="lh-base pb-2 text-muted fs-6 mb-1">Enter your phone number to Login/Sign up</p>
                                 <div class="input-group bg-white shadow-sm rounded-3 border py-2 mb-4">
                                    <a href="#" class="input-group-text bg-transparent border-0 rounded-0 text-black px-3"><i class="lni lni-mobile me-1"></i> +91</a>
                                    <input type="number" class="form-control bg-transparent border-0 rounded-0 ps-0" placeholder="Type your number" value="">
                                 </div>
                                 <a href="#" class="btn btn-danger fw-bold py-3 px-4 w-100 rounded-4 shadow" data-bs-target="#verify" data-bs-toggle="modal">Next</a>
                                 <div class="mt-3">
                                    <p class="text-muted mb-1">By continuing, you agree to our</p>
                                    <span class="small">
                                    <a href="#" class="text-decoration-underline me-2">Terms of service</a>
                                    <a href="#" class="text-decoration-underline ">Privacy Policy</a>
                                    </span>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Verify -->
         <div class="modal fade" id="verify" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
               <div class="modal-content bg-white border-0 overflow-hidden rounded-4">
                  <div class="modal-body p-0">
                     <div class="row g-0">
                        <div class="col-lg-4 d-none d-lg-block">
                           <div class="p-4 d-flex bg-warning-subtle align-items-center flex-column text-center gap-4 justify-content-center h-100">
                              <img src="img/logo.png" alt="" class="img-fluid mb-auto px-4">
                              <div>
                                 <h5 class="fw-bold">Welcome to Eatpura</h5>
                                 <p class="m-0">Download the app get free food &amp; <span class="fw-bold text-success">$50</span> off on your first order.</p>
                              </div>
                              <a href="#" class="btn btn-sm w-100 btn-warning mt-auto rounded-pill">Download App</a>
                           </div>
                        </div>
                        <div class="col-lg-8 p-4">
                           <div class="mb-4">
                              <h6 class="fw-bold d-flex align-items-center text-danger mb-1"><a class="me-3" href="#" data-bs-target="#login" data-bs-toggle="modal"><i class="lni lni-arrow-left fs-5 d-flex"></i></a> Phone Number Verification</h6>
                           </div>
                           <form>
                              <div class="text-start">
                                 <p class="lh-base pb-2 text-muted fs-6 mb-1">Enter 4 digit code sent to your phone<br>+91-+91 1234 567890</p>
                                 <div class="row mb-4">
                                    <div class="col-3">
                                       <input type="text" class="form-control text-center bg-white shadow-sm rounded-3 border py-2 fs-4" value="5" maxlength="1">
                                    </div>
                                    <div class="col-3">
                                       <input type="text" class="form-control text-center bg-white shadow-sm rounded-3 border py-2 fs-4" value="2" maxlength="1">
                                    </div>
                                    <div class="col-3">
                                       <input type="text" class="form-control text-center bg-white shadow-sm rounded-3 border py-2 fs-4" value="8" maxlength="1">
                                    </div>
                                    <div class="col-3">
                                       <input type="text" class="form-control text-center bg-white shadow-sm rounded-3 border py-2 fs-4" value="1" maxlength="1">
                                    </div>
                                 </div>
                                 <a href="#" class="btn btn-danger fw-bold py-3 px-4 w-100 rounded-4 shadow" data-bs-toggle="modal" data-bs-target="#successfull">Next</a>
                                 <div class="mt-3">
                                    <span class="small d-flex justify-content-between">
                                    <a href="#" class="text-decoration-underline me-2">Resend Code</a>
                                    <small class="text-muted">Resend Code (in <b id="timer">60</b> secs)</small>
                                    </span>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Success full login Modal-->
         <div class="modal fade" id="successfull" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
               <div class="modal-content bg-white border-0 overflow-hidden rounded-4">
                  <div class="modal-body border-0 rounded-3 text-center p-5">
                     <img src="img/successfull.png" alt="" class="img-fluid w-25">
                     <p class="fw-bold text-danger mb-0 mt-4">Welcome to Eatpura</p>
                     <h5 class="text-success mb-3 mt-1">Your Login is Successfull</h5>
                     <p class="mb-4">Download the app get free food &amp; <span class="fw-bold text-success">$50</span> off on your first order.</p>
                     <a href="listing.html" class="btn fw-bold py-2 px-4 btn-danger mt-auto rounded-pill">Shop Now</a>
                  </div>
               </div>
            </div>
         </div>
         <!-- Trash Modal-->
         <div class="modal fade" id="trash" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered">
               <div class="modal-content bg-white border-0 overflow-hidden rounded-4">
                  <div class="modal-body border-0 rounded-3 text-center p-4">
                     <i class="lni lni-trash-can fs-1 bg-danger text-white rounded-pill p-3"></i>
                     <h5 class="lh-base mb-4 mt-4">Are you sure want to delete this address?</h5>
                     <a href="#" data-bs-dismiss="modal" aria-label="Close" class="btn fw-bold py-2 px-4 btn-danger mt-auto rounded-pill">Delete</a>
                     <a href="#" data-bs-dismiss="modal" aria-label="Close" class="btn fw-bold py-2 px-4 btn-light mt-auto rounded-pill">Cancel</a>
                  </div>
               </div>
            </div>
         </div>
         <!-- My Cart Offcanvas -->
         <div class="offcanvas offcanvas-end my-cart-width" tabindex="-1" id="mycart">
            <div class="offcanvas-header px-4 py-3">
               <h5 class="offcanvas-title fw-bold">My Cart</h5>
               <button type="button" class="btn-close shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body p-0">
               <div class="bg-light px-4 py-3">
                  <h6 class="fw-bold mb-1">Delivery in 10 minutes</h6>
                  <p class="text-muted m-0">3 items</p>
               </div>
               <!-- 1st product -->
               <div class="px-4 py-3">
                  <div class="row">
                     <div class="col-3">
                        <img src="img/list/20.jpeg" alt="" class="img-fluid border rounded-4">
                     </div>
                     <div class="col-9">
                        <h6 class="fw-bold mb-1">Haldiram's Sev Bhujia</h6>
                        <p class="text-muted">500g</p>
                        <div class="d-flex align-items-center justify-content-between">
                           <h6 class="fw-bold m-0"><del class="text-muted small fw-normal">$55</del><br>$50</h6>
                           <div class="input-group border rounded overflow-hidden value">
                              <input type="button" value="-" class="button-minus btn btn-light btn-sm border-end col" data-field="quantity">
                              <input type="text" value="1" name="quantity" class="quantity-field form-control form-control-sm col text-center shadow-none border-0">
                              <input type="button" value="+" class="button-plus btn btn-light btn-sm border-start col" data-field="quantity">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- 2nd product -->
               <div class="px-4 py-3">
                  <div class="row">
                     <div class="col-3">
                        <img src="img/list/19.jpeg" alt="" class="img-fluid border rounded-4">
                     </div>
                     <div class="col-9">
                        <h6 class="fw-bold mb-1">NutriChoice Digestive</h6>
                        <p class="text-muted">250g</p>
                        <div class="d-flex align-items-center justify-content-between">
                           <h6 class="fw-bold m-0"><del class="text-muted small fw-normal">$25</del><br>$20</h6>
                           <div class="input-group border rounded overflow-hidden value">
                              <input type="button" value="-" class="button-minus btn btn-light btn-sm border-end col" data-field="quantity">
                              <input type="text" value="1" name="quantity" class="quantity-field form-control form-control-sm col text-center shadow-none border-0">
                              <input type="button" value="+" class="button-plus btn btn-light btn-sm border-start col" data-field="quantity">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- 3rd product -->
               <div class="px-4 py-3">
                  <div class="row">
                     <div class="col-3">
                        <img src="img/list/18.jpeg" alt="" class="img-fluid border rounded-4">
                     </div>
                     <div class="col-9">
                        <h6 class="fw-bold mb-1">Cadbury 5 Star Chocolate</h6>
                        <p class="text-muted">300g</p>
                        <div class="d-flex align-items-center justify-content-between">
                           <h6 class="fw-bold m-0"><del class="text-muted small fw-normal">$65</del><br>$60</h6>
                           <div class="input-group border rounded overflow-hidden value">
                              <input type="button" value="-" class="button-minus btn btn-light btn-sm border-end col" data-field="quantity">
                              <input type="text" value="1" name="quantity" class="quantity-field form-control form-control-sm col text-center shadow-none border-0">
                              <input type="button" value="+" class="button-plus btn btn-light btn-sm border-start col" data-field="quantity">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="p-4 bg-light">
                  <div class="d-flex align-items-center justify-content-between mb-1">
                     <p class="text-muted m-0">MRP</p>
                     <p class="m-0">$50.00</p>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-1">
                     <p class="text-muted m-0">Product Discount</p>
                     <p class="m-0">$20.00</p>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-3">
                     <p class="text-muted m-0">Delivery Charges</p>
                     <p class="text-info m-0">$60.00</p>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                     <h6 class="fw-bold m-0">Grand Total</h6>
                     <p class="fw-bold text-danger m-0">$130.00</p>
                  </div>
               </div>
            </div>
            <div class="offcanvas-footer p-4">
               <a href="#" class="btn btn-danger fw-bold d-flex align-items-center justify-content-between py-3 px-4 w-100 rounded-4 shadow" data-bs-toggle="offcanvas" data-bs-target="#myaddress" aria-controls="myaddress">3 items &#183; $130
               <span class="text-uppercase">Proceed<i class="icofont-double-right ms-1"></i></span>
               </a>
            </div>
         </div>
         <!-- my address offcanvas-->
         <div class="offcanvas offcanvas-end my-cart-width" tabindex="-1" id="myaddress">
            <div class="offcanvas-header px-4 py-3">
               <h5 class="offcanvas-title fw-bold" id="myaddressLabel">My Address</h5>
               <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body p-0">
               <div class="bg-light">
                  <a href="#" class="link-dark py-3 px-4 osahan-location text-decoration-none d-flex align-items-center gap-3 text-start flex-shrink-0" data-bs-toggle="modal" data-bs-target="#addaddress">
                     <i class="lni lni-circle-plus text-danger fs-4"></i>
                     <div class="lh-sm">
                        <h6 class="fw-bold mb-0">Add a new address in</h6>
                        <small class="text-muted mb-0 align-bottom small">Ludhiana, Punjab, India</small>
                     </div>
                  </a>
               </div>
               <div class="py-3 px-4">
                  <p class="text-muted m-0">Choose Delivery Address</p>
               </div>
               <div class="px-4 py-2 bg-light">
                  <div class="form-check osahan-radio-box-action osahan-radio-box w-100 bg-white border p-3 my-3 rounded-4">
                     <input class="form-check-input" type="radio" name="aaflexRadioDefault" id="aaflexRadioDefault1">
                     <label class="form-check-label" for="aaflexRadioDefault1"></label>
                     <div class="osahan-radio-box-inner">
                        <div class="d-flex align-items-center justify-content-between bg-white">
                           <div class="w-75">
                              <div class="d-flex align-items-center gap-3 osahan-mb-1">
                                 <i class="lni lni-home text-muted fs-5"></i>
                                 <div class="pe-4 overflow-hidden">
                                    <h6 class="fw-bold mb-1">Mr David - <span class="fw-light small">Home</span></h6>
                                    <p class="text-muted text-truncate mb-0 small">H.No. 2834 Street, 784 Sector, Ludhiana, Punjab</p>
                                 </div>
                              </div>
                           </div>
                           <div class="ms-auto gap-2 mt-auto text-center small">
                              <a href="#" class="small d-flex align-items-center gap-1" data-bs-toggle="modal" data-bs-target="#addaddress"><i class="lni lni-pencil-alt d-flex"></i>Edit</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="form-check osahan-radio-box-action osahan-radio-box w-100 bg-white border p-3 my-3 rounded-4">
                     <input class="form-check-input" type="radio" name="aaflexRadioDefault" id="aaflexRadioDefault2" checked>
                     <label class="form-check-label" for="aaflexRadioDefault2"></label>
                     <div class="osahan-radio-box-inner">
                        <div class="d-flex align-items-center justify-content-between bg-white">
                           <div class="w-75">
                              <div class="d-flex align-items-center gap-3 osahan-mb-1">
                                 <i class="lni lni-briefcase text-muted fs-5"></i>
                                 <div class="pe-4 overflow-hidden">
                                    <h6 class="fw-bold mb-1">Black Smith - <span class="fw-light small">Office</span></h6>
                                    <p class="text-muted text-truncate mb-0 small">9878, 784 Sector, Ludhiana, Punjab</p>
                                 </div>
                              </div>
                           </div>
                           <div class="ms-auto gap-2 mt-auto text-center small">
                              <a href="#" class="small d-flex align-items-center gap-1" data-bs-toggle="modal" data-bs-target="#addaddress"><i class="lni lni-pencil-alt d-flex"></i>Edit</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="offcanvas-footer p-4">
               <a href="#" class="btn btn-danger fw-bold py-3 px-4 w-100 rounded-4 shadow" data-bs-toggle="offcanvas" data-bs-target="#mycardwithaddress" aria-controls="mycardwithaddress">Done</a>
            </div>
         </div>
         <!-- My Card with Address -->
         <div class="offcanvas offcanvas-end my-cart-width" tabindex="-1" id="mycardwithaddress"
            >
            <div class="offcanvas-header px-4 py-3">
               <h5 class="offcanvas-title fw-bold">My Cart</h5>
               <button type="button" class="btn-close shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body p-0">
               <div class="bg-light px-4 py-3">
                  <h6 class="fw-bold mb-1">Delivery in 10 minutes</h6>
                  <p class="text-muted m-0">3 items</p>
               </div>
               <!-- 1st product -->
               <div class="px-4 py-3">
                  <div class="row">
                     <div class="col-3">
                        <img src="img/list/20.jpeg" alt="" class="img-fluid border rounded-4">
                     </div>
                     <div class="col-9">
                        <h6 class="fw-bold mb-1">Haldiram's Sev Bhujia</h6>
                        <p class="text-muted">500g</p>
                        <div class="d-flex align-items-center justify-content-between">
                           <h6 class="fw-bold m-0"><del class="text-muted small fw-normal">$55</del><br>$50</h6>
                           <div class="input-group border rounded overflow-hidden value">
                              <input type="button" value="-" class="button-minus btn btn-light btn-sm border-end col" data-field="quantity">
                              <input type="text" value="1" name="quantity" class="quantity-field form-control form-control-sm col text-center shadow-none border-0">
                              <input type="button" value="+" class="button-plus btn btn-light btn-sm border-start col" data-field="quantity">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- 2nd product -->
               <div class="px-4 py-3">
                  <div class="row">
                     <div class="col-3">
                        <img src="img/list/19.jpeg" alt="" class="img-fluid border rounded-4">
                     </div>
                     <div class="col-9">
                        <h6 class="fw-bold mb-1">NutriChoice Digestive</h6>
                        <p class="text-muted">250g</p>
                        <div class="d-flex align-items-center justify-content-between">
                           <h6 class="fw-bold m-0"><del class="text-muted small fw-normal">$25</del><br>$20</h6>
                           <div class="input-group border rounded overflow-hidden value">
                              <input type="button" value="-" class="button-minus btn btn-light btn-sm border-end col" data-field="quantity">
                              <input type="text" value="1" name="quantity" class="quantity-field form-control form-control-sm col text-center shadow-none border-0">
                              <input type="button" value="+" class="button-plus btn btn-light btn-sm border-start col" data-field="quantity">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- 3rd product -->
               <div class="px-4 py-3">
                  <div class="row">
                     <div class="col-3">
                        <img src="img/list/18.jpeg" alt="" class="img-fluid border rounded-4">
                     </div>
                     <div class="col-9">
                        <h6 class="fw-bold mb-1">Cadbury 5 Star Chocolate</h6>
                        <p class="text-muted">300g</p>
                        <div class="d-flex align-items-center justify-content-between">
                           <h6 class="fw-bold m-0"><del class="text-muted small fw-normal">$65</del><br>$60</h6>
                           <div class="input-group border rounded overflow-hidden value">
                              <input type="button" value="-" class="button-minus btn btn-light btn-sm border-end col" data-field="quantity">
                              <input type="text" value="1" name="quantity" class="quantity-field form-control form-control-sm col text-center shadow-none border-0">
                              <input type="button" value="+" class="button-plus btn btn-light btn-sm border-start col" data-field="quantity">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="p-4 bg-light">
                  <div class="d-flex align-items-center justify-content-between mb-1">
                     <p class="text-muted m-0">MRP</p>
                     <p class="m-0">$50.00</p>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-1">
                     <p class="text-muted m-0">Product Discount</p>
                     <p class="m-0">$20.00</p>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-3">
                     <p class="text-muted m-0">Delivery Charges</p>
                     <p class="text-info m-0">$60.00</p>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                     <h6 class="fw-bold m-0">Grand Total</h6>
                     <p class="fw-bold text-danger m-0">$130.00</p>
                  </div>
               </div>
            </div>
            <div class="offcanvas-footer border-top p-4">
               <div class="d-flex align-items-center gap-3 pb-3">
                  <i class="lni lni-home fs-4"></i>
                  <div>
                     <h6 class="fw-bold mb-1">Delivering to home</h6>
                     <p class="text-muted small m-0">1st Block 1st Cross, Punjab</p>
                  </div>
                  <a href="#" data-bs-toggle="offcanvas" data-bs-target="#myaddress" aria-controls="myaddress" class="ms-auto">Change</a>
               </div>
               <a href="checkout.html" class="btn btn-danger fw-bold d-flex align-items-center justify-content-between py-3 px-4 w-100 rounded-4 shadow">3 items &#183; $130 <span>Proceed To Pay<i class="icofont-double-right ms-1"></i></span>
               </a>
            </div>
         </div>
         <!-- Add Address modal-->
         <div class="modal fade" id="addaddress" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
               <div class="modal-content border-0 rounded-4 overflow-hidden">
                  <div class="modal-body p-0">
                     <div class="row g-0">
                        <div class="col-lg-6">
                           <div class="ratio ratio-1x1 h-100">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1750606.6319414608!2d74.2897923755259!3d31.02197051025034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391964aa569e7355%3A0x8fbd263103a38861!2sPunjab!5e0!3m2!1sen!2sin!4v1677160520792!5m2!1sen!2sin" class="border-0"></iframe>
                           </div>
                        </div>
                        <div class="col-lg-6 p-4">
                           <button type="button" class="btn-close float-end shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                           <div class="mb-3 pe-5">
                              <h5 class="fw-bold mb-1">Enter complete address</h5>
                              <p class="text-muted small m-0">This allow us to find you easily and give you timely delivery experience </p>
                           </div>
                           <form>
                              <div class="row g-3 mb-3">
                                 <div class="col-4">
                                    <div class="form-floating h-100">
                                       <select class="form-select" id="floatingSelectGrid">
                                          <option value="1" selected>Mr</option>
                                          <option value="2">Mrs</option>
                                          <option value="3">Miss</option>
                                       </select>
                                       <label for="floatingSelectGrid">Sr. Name</label>
                                    </div>
                                 </div>
                                 <div class="col-8">
                                    <div class="form-floating h-100">
                                       <input type="text" class="form-control" id="floatingInput" placeholder="name" value="David">
                                       <label for="floatingInput">Receiver's name</label>
                                    </div>
                                 </div>
                              </div>
                              <div class="form-floating mb-3">
                                 <input type="text" class="form-control" id="floatingInput1" placeholder="address" value="87997 Street, 784 Sector">
                                 <label for="floatingInput1">Flat/House/Office No.</label>
                              </div>
                              <div class="form-floating mb-3">
                                 <input type="text" class="form-control" id="floatingInput2" placeholder="street" value="Ludhiana, Punjab">
                                 <label for="floatingInput2">Street/Society/Office Name</label>
                              </div>
                              <div class="mb-4">
                                 <p class="text-muted small mb-2">Save address as</p>
                                 <div class="d-flex align-items-center gap-2">
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" checked>
                                    <label class="btn btn-outline-secondary btn-sm" for="btnradio1">Home</label>
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2">
                                    <label class="btn btn-outline-secondary btn-sm" for="btnradio2">Office</label>
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3">
                                    <label class="btn btn-outline-secondary btn-sm" for="btnradio3">Other</label>
                                 </div>
                              </div>
                              <a href="#" class="btn btn-danger fw-bold py-3 px-4 w-100 rounded-4 shadow" data-bs-dismiss="modal" aria-label="Close">Save Address</a>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="footer bg-white shadow mt-auto border-top">
         <div class="d-flex align-items-center justify-content-between py-1">
            <a href="account-orders.html" class="text-muted text-center col py-2 p-1">
               <i class="bi bi-basket h3 m-0"></i>
               <p class="small m-0 pt-1">Your Orders</p>
            </a>
            <a href="account-settings.html" class="text-primary text-center col py-2 p-1">
               <i class="bi bi-gear h3 m-0"></i>
               <p class="small m-0 pt-1">Settings</p>
            </a>
            <a href="account-address.html" class="text-muted text-center col py-2 p-1">
               <i class="bi bi-geo-alt h3 m-0"></i>
               <p class="small m-0 pt-1">Address</p>
            </a>
            <a href="my-wallet.html" class="text-muted text-center col py-2 p-1">
               <i class="bi bi-credit-card h3 m-0"></i>
               <p class="small m-0 pt-1">My Wallet</p>
            </a>
            <a href="account-notification.html" class="text-muted text-center col py-2 p-1">
               <i class="bi bi-bell h3 m-0"></i>
               <p class="small m-0 pt-1">Notification</p>
            </a>
         </div>
      </div>
      <!-- Bootstrap Bundle Js -->
      <script src="vender/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Jquery Js -->
      <script src="vender/jquery/jquery.min.js"></script>
      <!-- Slick Slider Js -->
      <script src="vender/slick/slick/slick.min.js"></script>
      <!-- Quantity Custom Js -->
      <script src="js/quantity.js"></script>
      <!-- Custom Js -->
      <script src="js/script.js"></script>
   </body>
</html>