.manager-content-user {
    border-bottom: 1px solid #dee2e6;
    padding-top: 2%;
    padding-bottom: 2%;
}

.select2-container-modal {
    z-index: 5000 !important;
}

.kit-management {
    background: #dde4e4;
}

.customer-msg-user {
    text-align: center;
}

.title-event {
    text-align: center;
}
.preview-management__people {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    padding-top: 2%;
    padding-bottom: 2%;
}
span.preview-management__title {
    font-weight: 700;
}
